//main color
$primaryColor:#42e06d;
$secondaryColor:#fff;
$tertiaryColor: #333;
//Green & Red color for variable change
$greenColor: #02c076;
$redColor: #f84960;

//background-color
$bgColor1: #050846;
$bgColor2: #1d1e65;
$bgColor3: rgba(255, 255, 255, 0.25);
//border-color
$borderColor1 : #42e06d;