@import "variables";
@import "mixins";

.Header {
    direction: rtl;
    padding: 20px 30px;
    background-color: $bgColor2;
    color: $secondaryColor;

    a {
        text-decoration: none;
        color:inherit;

        span {
            margin-right: 5px;
            font-size: 2.8rem;
            font-weight: 700;
            color: $secondaryColor;
        }
    }
}
